@page
@model EarlyLearningHub.Pages.Main.StudentLevel.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentLevel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlLegalFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlLegalFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlLegalLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlLegalLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlLegalMiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlLegalMiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlGenerationCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlGenerationCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlOtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlOtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlOtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlOtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlOtherMiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlOtherMiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlSsid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlSsid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlBirthdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlBirthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlStId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlStId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlPostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlPostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlPhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlRequiredSpecializedServicesOptId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlRequiredSpecializedServicesOptId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlAssignedClassromName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlAssignedClassromName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlDaysEnrolledQ1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlDaysEnrolledQ1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlDaysAttendedQ1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlDaysAttendedQ1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlAverageFromQ1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlAverageFromQ1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlDaysEnrolledQ2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlDaysEnrolledQ2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlDaysAttendedQ2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlDaysAttendedQ2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlAverageFromQ2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlAverageFromQ2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlDaysEnrolledQ3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlDaysEnrolledQ3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlDaysAttendedQ3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlDaysAttendedQ3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlAverageFromQ3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlAverageFromQ3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlDaysEnrolledQ4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlDaysEnrolledQ4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlDaysAttendedQ4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlDaysAttendedQ4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlAverageFromQ4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlAverageFromQ4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlChildAssessmentPerformDate1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlChildAssessmentPerformDate1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlChildAssessmentPerformDate2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlChildAssessmentPerformDate2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlChildAssessmentPerformDate3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlChildAssessmentPerformDate3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlAsqpeformedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlAsqpeformedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlParentTeacherConferenceDate1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlParentTeacherConferenceDate1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlParentTeacherConferenceDate2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlParentTeacherConferenceDate2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlCo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlCo.CoName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlEr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlEr.ErType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlFirstLanguageLang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlFirstLanguageLang.LangName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlFosterCareOpt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlFosterCareOpt.OptValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlFreeReducedLunchProgramOpt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlFreeReducedLunchProgramOpt.OptValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlGe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlGe.GeAbbreviation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlHomelessStatusOpt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlHomelessStatusOpt.OptValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlIfspOpt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlIfspOpt.OptValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlInc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlInc.IncRange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlMigrantStatusOpt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlMigrantStatusOpt.OptValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlOnt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlOnt.OntName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlPrvd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlPrvd.PrvdName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlRe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlRe.ReName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlRecieveServicesOpt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlRecieveServicesOpt.OptValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlSecondLanguageLang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlSecondLanguageLang.LangName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlSnapOpt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlSnapOpt.OptValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlSsiOpt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlSsiOpt.OptValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlTanfOpt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlTanfOpt.OptValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlThirdLanguageLang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlThirdLanguageLang.LangName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLevel.SlWicOpt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLevel.SlWicOpt.OptValue)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="StudentLevel.SlId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
