@page
@model EarlyLearningHub.Pages.TableMaintenance.State.IndexModel

@{
    ViewData["Title"] = "State";
}

@*<h2>Index</h2>*@

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.State[0].StName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State[0].StAbbreviation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.State)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StAbbreviation)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.StId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.StId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.StId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
