@page
@model EarlyLearningHub.Pages.TableMaintenance.ExitReason.IndexModel

@{
    ViewData["Title"] = "Exit Reason";
}

@*<h2>Index</h2>*@

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExitReason[0].ErType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExitReason) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ErType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ErId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ErId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ErId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
