@page
@model EarlyLearningHub.Pages.TableMaintenance.IFSPStatus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ifspstatus[0].IsOptions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ifspstatus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsOptions)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IsId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IsId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
