@page
@model EarlyLearningHub.Pages.TableMaintenance.Income.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Income[0].IncRange)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Income) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncRange)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IncId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IncId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IncId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
