@page
@model EarlyLearningHub.Pages.TableMaintenance.OtherNameType.IndexModel

@{
    ViewData["Title"] = "Other Name Type";
}

@*<h2>Index</h2>*@

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OtherNameType[0].OntName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OtherNameType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OntName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.OntId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.OntId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.OntId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
